body{
	font-family: 'Raleway', sans-serif;
	background: url(../img/adult-brunette-hand-2474073.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.main-div{
	    padding: 152px 333px;
	    opacity: 20;
	}
.ip{
	    font-size: 41px;
	    color: #6D7E6C;
	}
.jp{
	    margin: 0 auto;
    font-size: 23px;
    color: #6D7E6C;
}
.email-section{
	    padding: 16px;
    font-size: 15px;
    margin: 8px;
    border-radius: 15px 15px;

}
.btn{padding: 11px 34px;
    margin: 8px;
    font-size: 22px;
    border-radius: 10px 10px;

}
.ibtn{
	padding: 11px 34px;
    margin: 19px;
    font-size: 22px;
    border-radius: 10px 10px;
}